* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.task-content {
  position: center;
  text-align: center;
  font-size: 1.75rem;
  
}

ul {
  list-style-type: none;
  padding-top: 1.5rem;
}

.task-content input:focus {
  outline: none;
  background-color: rgb(197, 220, 228);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding: 2px;
}

.strike-out {
  text-decoration: line-through 2px solid rgb(60, 60, 60);
}

.item-container{
  margin-bottom: 1.25rem;
  border-radius: 5px;
  background-color: aliceblue;
  border: 1px solid rgb(116, 115, 115);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.main-content-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
