* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  background-color: #ead6c9;

}

html {
  font-size: 62.5%;
}

.task-content {
  position: center;
  text-align: center;
  font-size: 1.75rem;
  border: 1px solid;
  padding: 1rem;
  border-radius: 3px;
  box-shadow:  2px 2px 4px #000000;
  background-color: rgb(234, 234, 237);
}

ul {
  list-style-type: none;
  padding-top: 1.5rem;
}

.task-content input:focus {
  outline: none;
  border-style: solid;

  /* background-color: rgb(197, 220, 228); */
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 3px;
  /* padding: 2px; */
}

.strike-out {
  text-decoration: line-through 2px solid rgb(60, 60, 60);
}

.item-container{
  margin-bottom: 1.25rem;
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);
  background-color: transparent;
  border-bottom: 1px solid rgb(116, 115, 115);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.main-content-container{

  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
